<%#edit.html.erb%>
<h1>Edit Question</h1>

<%# When you persisted active record object to a `form_for`
then it will use the url to the updat eaction which is the same url
for the show action (question_path(@question)) except that it will be
PATCH verb (to fix or modify things is called PATCH) instead of GET
It will achieve this by adding a hidden input field with the name `_method`
with the value `PATCH` 
In addition, all the fields will be prepopulated with data from the database. %>

<% unless @question.errors.empty? %>
<div>
  <%= @question.errors.full_messages.join(', ') %>
</div>
<% end %>

<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%# f.text_field will generate an `input` html tag with proper
    `name` attribute which will be `question[title]` in this case. It will
    also set the value to the input field to whatever Question.new object has
    preset for that particular attribute (in this case title) %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>
<% end %>
